*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content{
    box-sizing: border-box;
    border: 1px solid black;
    margin: 5px auto;
}


h4{
    color: red;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
    border-bottom: 2px solid red;
}

.thoikhoa{
    padding-top: 20px;
    padding-bottom: 20px;
}

.thoikhoa ul li a{
    list-style: none;
    text-decoration: none;
}

.thoikhoa>ul>li>a:hover{
    color: red;
    text-decoration: underline;
}